/* Main page styles */
html, body {
	background-color: $base-bg-color;
	font-family: $base-font-family;
	color: $base-font-color;
}

// Images
img.full-size-image {
	max-width: 100%;
	display: block;
}


/* Main container */
.main-container {
	@include center(1600px);
	padding: 0 20px;
	@media screen and (max-width: $break-huge) {

	}
}

/* Sections */
.section {
	min-width: 100%;
	padding: 0 0 40px 0;
	margin: 0;
  @include clearfix;

	&.main-title {
		background: $blue;
	}
	&.staff-image {
		background: transparent;
		padding: 0;
	}
	&.info{
		background: #fff;
	}
}

.section-content {
  @include center(1200px);
	padding: 10px 20px;
  @media screen and (max-width: $break-huge) {

  }
}

.section-content-wide {
  @include center(1600px);
	height: auto;
  @media screen and (max-width: $break-huge) {
  }
}

// Big section titles
.section-title {
  width: 100%;
  text-align: center;
  padding: 10px 0;

  &.spotlight {
    background-color: $green;
  }
  & h1 {
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

.main-title-wrapper {
  padding: 0;
  border: 10px solid #fff;
  margin: 30px auto 0 auto;
	@media screen and (max-width: $break-huge) {

	}
}

/* Section content */
.dem-summer-info {
	@include col(1/2);
}

.dem-summer-data {
	@include col(1/2);
}
