/* Type */
// Mostly global styles here, section styles are with the rest of their sections

// Paragraphs
p {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
}

p.center {
  @include center(70%);
  & span.sig {
    display: block;
    text-align: right;
  }
}

// Headings
h1 {font-size: 3.6rem;}
h2 {font-size: 3rem;}
h2, h3, h4, h5, h6 {
  font-family: $secondary-font-family;
}


h1.main-title {
	font-size: 6rem;
  line-height: 6rem;
	text-align: center;
	color: #fff;
  margin: 0;
  @media screen and (max-width: $break-huge) {
    font-size: 4.9rem;
  }
}

h2.highlight {
  color: $orange;
  font-family: $accent-font-family;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}
h2.main-sub-title {
  text-align: right;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  margin-top: 10px;
}




// Links
