// Variables

// Colors
$blue: #46adcb;
$light-blue: #b1dde9;
$orange: #ef4c3b;
$light-orange: #f9b59f;
$yellow: #fec235;
$green: #a7d888;
$light-green: #d3ebc3;

// Type
$base-font-size: 20px;

$base-font-family: "proxima-nova", arial, sans-serif;
$secondary-font-family: "proxima-nova-condensed",sans-serif;
$accent-font: italic "chaparral-pro",sans-serif;
$accent-font-bold: italic bold "chaparral-pro",sans-serif;
